* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin sans', sans-serif;
}

section {
    display: flex;
    position: absolute;
    z-index: 4;
}

/* Section 1 */

.section1 {
    width: 27vw;
    margin-right: 2%;
    margin-left: 5%;
}

.logo {
    width: 23vw;
    height: 20vh;
}

.navigation {
    margin-top: 2vh;
    width: 100%;
    height: 7vh;
    background-color: #19e5e5;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.toggle {
    height: 5vh;
    width: 3vw;
    margin-left: 3%;

}

.cgr {
    margin-left: 3%;
}

.submenu {
    background-color: #ececfa;
    display: block;
    padding: 4% 4%;
    border-bottom: 1px solid #a7a7ad;
    padding-left: 4%;
    text-decoration: none;
}

.submenu:hover {
    cursor: pointer;
    background-color: #ffffff;
}


.section1 .para1 {
    padding: 4% 4%;
    background-color: #ececfa;
    margin-top: 10%;
    margin-bottom: 2%;
}

.section1 .special fieldset {
    background-color: #ececfa;
    border: 1px solid #afafaf;
    margin-top: 10%;
    height: 23vh;
}

.section1 .special .img1 {
    width: 5vw;
    height: 17vh;
    padding-top: 7%;
    padding-left: 3%;
}

.section1 .special .div1 {
    display: inline-block;
    margin-left: 5%;
}

.section1 .special .div2 {
    position: absolute;
    display: inline-block;
    margin-left: 1%;
    width: 10%;
    height: 15%;
}

.section1 .special .div2 p {
    font-size: 15px;
}

.special h3 {
    margin-bottom: 2%;
    margin-top: 7%;
    color: #04bfbf;
}

.special strike {
    font-size: 1vw;
    padding-left: 4%;
}



.section1 .special fieldset:nth-child(3) .img1 {
    height: 15vh;

}

.section1 .special fieldset:nth-child(4) .img1 {
    height: 15vh;
    width: 6vw;
}

.section1 .special fieldset:nth-child(5) .img1 {
    width: 7vw;
}

.section1 .special fieldset:nth-child(6) .img1 {
    width: 6vw;
}

.section1 .special fieldset:nth-child(7) .img1 {
    width: 6vw;
    height: 15vh;
}

.section1 .special fieldset:nth-child(8) .img1 {
    height: 14vh;
}



.background {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 30vh;
    background-color: #ececfa;
}

@media (max-width:768px) {
    .section1 .logo {
        width: 250px;
    }

    .toggle {
        height: 5vh;
        width: 5vw;
    }

    .cgr {
        font-size: 20px;
    }

    .submenu {
        font-size: 15px;
    }

    .section1 .para1 {
        font-size: 20px;
    }

    .section1 .special fieldset {
        height: 16vh;
    }

    .section1 .special .img1 {
        width: 8vw;
        height: 12vh;
    }

    .section1 .special .div2 {
        margin-left: 1%;
    }

    .special h3 {
        font-size: 17px;
    }

    .special strike {
        font-size: 1vw;
        padding-left: 4%;
    }

    .section1 .special fieldset:nth-child(3) .img1 {
        height: 12vh;

    }

    .section1 .special fieldset:nth-child(4) .img1 {
        height: 12vh;
        width: 8vw;
    }

    .section1 .special fieldset:nth-child(5) .img1 {
        width: 8vw;
    }

    .section1 .special fieldset:nth-child(6) .img1 {
        width: 8vw;
    }

    .section1 .special fieldset:nth-child(7) .img1 {
        width: 8vw;
        height: 12vh;
    }

    .section1 .special fieldset:nth-child(8) .img1 {
        height: 12vh;
    }

}

/* ********* */

/* Section 2 */

.section2 {
    width: 68vw;
    display: inline-block;
}

.txtsrch {
    margin-left: 18%;
    margin-top: 5%;
    width: 23vw;
    height: 5vh;
    border: 1px right #d5d5e6;
}

.txtsrch[placeholder] {
    padding-left: 1%;
}

.btnsrch {
    width: 6vw;
    height: 5.5vh;
    background-color: #19e5e5;
    border: 0px;
}

.call-icon {
    height: 4.5vh;
    margin-left: 12%;
}

.tel-no {
    font-size: 1.5vw;
    font-family: fantasy;

}

nav {
    margin-top: 10vh;
    width: 100%;
    height: 2%;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuitem {
    margin-top: 1vh;
    padding: 3% 3% 3% 3%;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: 'Lobster Two';
    font-size: 1.5vw;
    box-shadow: 10px 15px 50px black;
}

.menuitem:hover {
    background-color: #1d6550;
    box-shadow: none;
}

.fling-minislide {
    width: 100%;
    height: 0px;
    padding-bottom: 37%;
    overflow: hidden;
    position: relative;
}

.fling-minislide img {
    position: absolute;
    animation: fling-minislide 20s infinite;
    opacity: 0;
    width: 100%;

}

@keyframes fling-minislide {
    20% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

.fling-minislide img:nth-child(3) {
    animation-delay: 0s;
}

.fling-minislide img:nth-child(2) {
    animation-delay: 5s;
}

.fling-minislide img:nth-child(1) {
    animation-delay: 10s;
}


.content1 {
    width: 100%;
    height: 30vh;
    margin-top: 5vh;
    display: flex;
}

.content1 .inner1 {
    width: 50%;
    height: 100%;
    text-align: right;
    border: 1px solid #afafaf;
}

.content1 .inner1 .img1 {
    width: 20vw;
    height: 35vh;
}

.content1 .inner2 {
    width: 50%;
    height: 100%;
    text-align: right;
    border: 1px solid #afafaf;
    border-left: none;
}

.content1 .inner2 .img2 {
    width: 15vw;
    height: 35vh;
}

.innertitle1 {
    position: absolute;
    width: 16vw;
    height: 30%;
    text-align: center;
    margin-left: 1%;
}

.innertitle2 {
    position: absolute;
    width: 20vw;
    height: 30%;
    margin-left: 38%;
    text-align: center;
}

.innertitle1,
.innertitle2 {
    margin-top: 2%;
}

.content1 h3 {
    color: #04bfbf;
}

.content1 .para1 {
    font-family: 'Pacifico';
}

.content1 .btn {
    padding: 4%;
    color: white;
    background-color: #313030;
    border-radius: 10px;
}

.featuredpara {
    margin-top: 7vh;
    margin-bottom: 3vh;
    padding: 2vh 66vw 1vw 4vh;
    background-color: #ececfa;
}

.products {
    width: 68vw;
    height: 58vh;
    display: flex;
}

.products fieldset {
    width: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 4vh;
    border: 1px solid #afafaf;
}

legend {
    padding: 2% 2% 1% 2%;
    background-color: black;
    color: white;
}

.products .col1,
.col2 {
    margin-right: 3vw;
}

.products .col1 .img1 {
    width: 13vw;
    height: 20vh;
    padding-left: 12%;
}

.products .col2 .img1 {
    width: 15vw;
    height: 20vh;
    padding-left: 5%;
}

.products .col3 .img1 {
    width: 15vw;
    height: 20vh;
    padding-left: 5%;
}

.products h3 {
    padding-top: 5vh;
    color: #04bfbf;
}

.products strike {
    font-size: 1vw;
    padding-left: 3%;

}

.footer {
    bottom: 0px;
    width: 100vw;
    height: 30vh;
    padding-top: 5%;
    margin-left: -30vw;
}

.footer .outer {
    background-color: #ececfa;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
}

.footer .inner {
    width: 20%;
    height: 50%;
    display: inline-block;
    margin-left: 8%;
    border-right: 1px solid #afafaf;
}

.footer .inner2 {
    width: 20%;
    height: 50%;
    display: inline-block;
    margin-left: 3%;
    border-right: 1px solid #afafaf;
}

.footer a {
    display: block;
    padding: 2%;
    color: #04bfbf;
}

.footer .copyright {
    background-color: #ececfa;

}

.footer .copyright span {
    margin-left: 8vw;

}

@media (max-width:768px) {

    .txtsrch {
        margin-left: 8%;
        margin-top: 15%;
        width: 23vw;
        height: 4vh;
        border: 1px right #d5d5e6;

    }

    .txtsrch[placeholder] {
        font-size: 15px;
    }

    .btnsrch {
        height: 4.5vh;
    }

    .call-icon {
        height: 4vh;
        margin-left: 12%;
    }

    .tel-no {
        font-size: 2vw;
        font-family: fantasy;

    }

    .menuitem {
        font-size: 1.8vw;
    }

    .content1 {
        width: 100%;
        height: 22vh;
        margin-top: 3vh;
    }

    .content1 .inner1 .img1 {
        width: 18vw;
        height: 25vh;
    }

    .content1 .inner2 .img2 {
        width: 18vw;
        height: 25vh;
    }

    .featuredpara {
        margin-top: 3vh;
        margin-bottom: 3vh;
        padding: 2vh 65vw 1vw 2vh;
        font-size: 20px;
    }

    .products {
        height: 40vh;
    }

    .products fieldset {

        padding-top: 0vh;
    }

    .products .col1 .img1 {
        height: 13vh;
    }

    .products .col2 .img1 {
        height: 13vh;
    }

    .products .col3 .img1 {
        height: 13vh;
    }

    .products h3 {
        padding-top: 2vh;
        color: #04bfbf;
    }

    .products strike {
        font-size: 1vw;
        padding-left: 3%;

    }

    .background {
        width: 105vw;
    }

    .footer {
        width: 100vw;
        height: 30vh;
        padding-top: 5%;
        margin-left: -33.5vw;
    }

    .footer .outer {
        width: 105vw;
        height: 25vh;
    }

    .footer .inner {
        width: 25%;
        margin-left: 9%;
    }

    .footer .inner2 {
        width: 30%;
        height: 50%;
    }

    .footer .copyright {
        width: 105vw;
        height: 20px;
    }

    .footer .copyright span {
        margin-left: 10vw;
    }

}

/* ********* */